# Maptiler API Keys
NEXT_PUBLIC_MAPTILER_KEY_2020=your_maptiler_key_here
NEXT_PUBLIC_MAPTILER_KEY_2025=your_maptiler_key_2025_here
NEXT_PUBLIC_MAPTILER_TILESET_2020=your_tileset_id_2020
NEXT_PUBLIC_MAPTILER_TILESET_2025=your_tileset_id_2025

# GEE Tile URLs
NEXT_PUBLIC_GEE_TILE_MANGROVE=your_gee_tile_url
NEXT_PUBLIC_GEE_TILE_LAMUN=your_gee_tile_url
NEXT_PUBLIC_GEE_TILE_NDVI=your_gee_tile_url
